$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */
.login{
  margin: 0 auto;
  width: 90%;

}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
.md-slidenav-left{
  background: red;
}
  .container {
//    max-width: 730px;
  }
  .login{
    width: 50%;
  }
}
@media screen and (min-width: 1280px){
  .login{
    width: 30%;
  }
  .pinkNav{
  	display: none;
  }
}

// Component styles are injected through grunt
/* inject:scss */
@import 'admin/admin';
@import 'main/main';
@import '../components/footer/footer';
/* endinject */
