<div class="">
  <div class="container">
<!--toolbar added -->

    <md-toolbar>
      <div class="md-toolbar-tools">

          <i class="fa fa-bars pinkNav" aria-hidden="true"
             ng-click="nav.toggleLeft()"></i>

              <p ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></p>
        <span flex></span>
      <a href="/main" class="navbar-brand">
        Maerk<h2>{{test}}</h2>
      </a>
        <span flex></span>
        <ul class="nav navbar-nav navbar-right" ng-controller="NavbarController">
          <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
          <li ng-show="nav.isLoggedIn()" class="navbar-text">Hello {{ nav.getCurrentUser().name }} </li>
          <li ng-show="nav.isLoggedIn()" class="navbar-text"ui-sref-active="active"><a ui-sref="settings"><span>Settings</span></a></li>
          <li ng-show="nav.isLoggedIn()" class="navbar-text"><a ui-sref="logout">Logout</a></li>
        </ul>
      </div>

    </md-toolbar>

<!-- toolbar closed -->
<!-- side Nav-->



  </div>
</div>
