<md-toolbar>
  <div class="md-toolbar-tools">
    <div class="md-title">Register Monthly Hours</div>
  </div>
</md-toolbar>
<div layout="column" layout-gt-sm="row" class="md-whiteframe-11dp">
  <md-content flex layout="column">
    <md-table-container>
      <table md-table ng-model="cli.client">
        <thead md-head md-order="cli.query.order">
          <tr md-row>
            <th md-column md-numeric>employee</th>
            <th md-column md-numeric>Clients</th>
          </tr>
        </thead>
        <tbody md-body>

          <tr md-row md-select="client" ng-repeat="client in cli.tableData
          | filter: cli.filter.search | orderBy: cli.query.order | limitTo: cli.query.limit
          : (cli.query.page -1) * cli.query.limit">
            <td md-cell>{{employees.name}}</td>

          </tr>
        </tbody>
      </table>
    </md-table-container>
        <md-table-pagination layout = "row" md-limit="cli.query.limit"  md-limit-options="cli.limitOptions"
        md-page="cli.query.page" md-total="{{cli.total}}" md-page-select="cli.options.pageSelect"
        md-boundary-links="cli.options.boundaryLinks" md-on-paginate="cli.logPagination">
      </md-table-pagination>
  </md-content>
</div>

<ul>
<li>  Each employee should have a monthly hour number input field</li>
<li>  Each employee should have a field name other that will allow the manager to give and offset
  to solve any change on the employee's information within that month</li>
<li>  Should have a save button that will communicate with the server to store the edited
  information</li>
  <li>Should have a Finish Month button that will validate that every user have hours information
  and will update the monthly report on the database.  </li>
</ul>
