<md-dialog aria-label="test" flex="90">
  <form class="form" name="addNew" ng-submit="aec.addEmp(addNew)" novalidate>
    <md-toolbar>
      <div class="md-toolbar">
        <h2></h2>
        <span flex>Add Employee</span>
        </md-button>
      </div>
    </md-toolbar>
    <div layout="row" flex layout-align="center start">
      <div layout="column" flex>
        <md-input-container class="md-block" flex>
          <label for="">first name</label>
          <input type="text" name="first_name" ng-model="aec.newEmp.first_name" required>
        </md-input-container>
        <md-input-container class="md-block" flex>
          <label for="">last name</label>
          <input type="text" name="last_name" ng-model="aec.newEmp.last_name" required>
        </md-input-container>
        <md-chips ng-model="aec.newEmp.client" placeholder="Enter Clients" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+Enter Clients" required></md-chips>
        <md-chips ng-model="aec.newEmp.skill" placeholder="Enter skills" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+Enter skills" required></md-chips>
        <md-input-container class="md-block" flex>
          <label for="">recruiter</label>
          <input type="text" name="recruiter" ng-model="aec.newEmp.recruiter" required>
        </md-input-container>
        <md-input-container class="md-block" flex>
          <label for="">Placement Type</label>
          <md-select ng-model="aec.newEmp.placement_type" required name="placement_type" ng-model="aec.newEmp.placement_type">
            <md-option ng-repeat="workType in aec.placeType" value="{{workType.types}}">
              {{workType.types}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex>
          <label for="">salary</label>
          <input type="text" name="salary" ng-model="aec.newEmp.salary" required>
        </md-input-container>
        <md-input-container class="md-block" flex>
          <label for="">Insurance</label>
          <input type="text" name="insurance" ng-model="aec.newEmp.insurance" required>
        </md-input-container>
      </div>
      <div layout="column" flex>
        <md-input-container class="md-block" flex>
          <label for="">relocation</label>
          <input type="text" name="relocation" ng-model="aec.newEmp.relocation" required>
        </md-input-container>
        <md-input-container class="md-block" flex>
          <label for="">immigration</label>
          <input type="text" name="immigration" ng-model="aec.newEmp.immigration" required>
        </md-input-container>
        <md-input-container class="md-block" flex>
          <label for="">pay vacation cost</label>
          <input type="text" name="pay_vacation_cost" ng-model="aec.newEmp.pay_vacation_cost" required>
        </md-input-container>
        <md-input-container class="md-block" flex>
          <label for="">ksquare hourly cost</label>
          <input type="text" name="ksquare_hourly_cost" ng-model="aec.newEmp.ksquare_hourly_cost" required>
        </md-input-container>
        <md-input-container class="md-block" flex>
          <label for="">target bill rate</label>
          <input type="text" name="target_bill_rate" ng-model="aec.newEmp.target_bill_rate" required>
        </md-input-container>
        <md-input-container class="md-block" flex>
          <label for="">client bill pay</label>
          <input type="text" name="client_bill_pay" ng-model="aec.newEmp.client_bill_pay" required>
        </md-input-container>
        <md-input-container class="md-block" flex>
          <label for="">activate</label>
          <input type="text" name="activate" ng-model="aec.newEmp.activate" required>
        </md-input-container>
        <md-dialog-content>
          <div class="md-dialog-content">
          </div>
        </md-dialog-content>
        <md-dialog-actions>
          <md-button class="md-primary md-raised" ng-click="aec.submitted()" type="submit">
            Add Employee
          </md-button>
          <md-button class="md-primary md-raised" ng-click="aec.cancel()">
            Cancel
          </md-button>
        </md-dialog-actions>
      </div>
    </div>
    <span flex></span>
    </md-dialog-actions>
  </form>
</md-dialog>
