<div layout-margin>




<!-- Menu -->


<!-- http://codepen.io/iamisti/pen/bEBKRj?editors=1010#0 -->


  </md-input-container>
  <div ng-hide="true">
    {{(empfiltered = (emp.employees | filter: filterName))}}
  </div>
  <md-toolbar>
<p>
  Employees
</p>
    <md-input-container>
      <label>Search Employee Table</label>
      <input type="text" name="name" ng-model="filterName">
      <md-button ng-hide="emp.addBtn" ng-click="emp.addEmp($event)" class="md-icon-button">
        <ng-md-icon icon="note_add" size="24">add</ng-md-icon>
      </md-button>
    <md-button ng-show="emp.editBtn" ng-click="" class="md-icon-button">
      <ng-md-icon icon="mode_edit" size="24">edit</ng-md-icon>
    </md-button>
    <md-button ng-show="emp.deleteBtn" ng-click="" class="md-icon-button">
      <ng-md-icon icon="delete" size="24">edit</ng-md-icon>
    </md-button>
    <md-button ng-show="emp.activeBtn" ng-click="" class="md-icon-button">
      <ng-md-icon icon="thumbs_up_down" size="24">edit</ng-md-icon>
    </md-button>

  </md-toolbar>


  <mdt-table selectable-rows="true"
  paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20]}"
  delete-row-callback="deleteRowCallBack(rows)"
  selected-row-callback="emp.selectedRowCallback(rows)"
  mdt-row="{
                      data: empfiltered,
                      'table-row-id-key': '_id',
                      'column-keys': [
                          'first_name',
                          'last_name',
                          'client',
                          'skill',
                          'recruiter',
                          'salary'
                            ]
                      }">
    <mdt-header-row>
      <mdt-column column-sort="true" align-rule="right">First Name</mdt-column>
      <mdt-column column-sort="true" align-rule="right">Last Name</mdt-column>
      <mdt-column column-sort="true" align-rule="right">Client</mdt-column>
      <mdt-column column-sort="true" align-rule="left">Skill</mdt-column>
      <mdt-column column-sort="true" align-rule="right">Recruiter</mdt-column>
      <mdt-column column-sort="true" align-rule="right">Salary</mdt-column>
      <!-- salary is set rather than revenue because it hasn't been added yet -->
    </mdt-header-row>
  </mdt-table>
</div>
